<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2ECO</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300;700&display=swap"
    />
    <link rel="stylesheet" href="/styles/cadastro-dispositivo.css" />
  </head>
  <body>
    {% if msg %}
    <script>
      alert("{{msgtxt}}");
    </script>
    {% endif %}
    <h2>ADICIONAR NOVO DISPOSITIVO</h2>

    <form action="/browser/smart" method="GET">
      <div class="field-group">
        <div class="field">
          <input type="text" name="tipo" placeholder="Tipo" /><i
            class="fa fa-arrow-circle-down fa-3x"
            style="color: #9f9c9c;"
          ></i>
        </div>
      </div>
      <div class="field-group">
        <div class="field">
          <input type="text" name="nome" placeholder="Nome" />
          <i class="fa fa-arrow-circle-down fa-3x" style="color: white;"> </i>
        </div>
      </div>

      <div class="field-group">
        <div class="field">
          <a href="#" class="arrow-left" id="arrow-left">
            <i
              class="fa fa-arrow-circle-left fa-3x"
              style="color: #9f9c9c;"
            ></i>
          </a>
          <label class="qtddias" for="qtddias">30</label>
          <a href="#" class="arrow-right" id="arrow-right">
            <i
              class="fa fa-arrow-circle-right fa-3x"
              style="color: #9f9c9c;"
            ></i>
          </a>
        </div>
      </div>

      <div class="field-group">
        <div class="field">
          <input
            type="text"
            name="potencia"
            placeholder="Potencia"
            style="width: 150px;"
          />
          <input
            type="text"
            name="tipopotencia"
            placeholder="kwh"
            style="width: 150px;"
          />
          <i class="fa fa-arrow-circle-down fa-3x" style="color: #9f9c9c;"></i>
        </div>
      </div>

      <div class="field-group">
        <div class="field">
          <input
            type="text"
            name="tempouso"
            placeholder="Tempo de uso"
            style="width: 150px;"
          />
          <input
            type="text"
            name="horas"
            placeholder="horas"
            style="width: 150px;"
          />
          <i class="fa fa-arrow-circle-down fa-3x" style="color: #9f9c9c;"></i>
        </div>
      </div>

      <div class="field-group">
        <div class="field">
          <button type="submit">Adicionar</button>
        </div>
      </div>
    </form>

    <div class="field-group2">
      <div class="fieldrodape">
        <div class="rodape">
          <a href="/browser/consumo" class="consumo" id="consumo">
            <div id="consumo"></div>
          </a>
        </div>
        <div class="rodape">
          <a href="/browser/smart" class="smart" id="smart">
            <div id="smart"></div>
          </a>
        </div>
        <div class="rodape">
          <a href="/browser/dispositivo" class="dispositivo" id="dispositivo">
            <div id="dispositivo"></div>
          </a>
        </div>
        <div class="rodape">
          <a
            href="/browser/configuracao"
            class="configuracao"
            id="configuracao"
          >
            <div id="configuracao"></div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
<script src="/scripts/cadastro-dispositivo.js"></script>
<script src="/scripts/robeco.js"></script>
