<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2ECO</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300;700&display=swap"
    />
    <link rel="stylesheet" href="/styles/calculadora.css" />
  </head>
  <body>
    {% if msg %}
    <script>
      alert("{{msgtxt}}");
    </script>
    {% endif %}
    <h2>CALCULADORA</h2>

    <form action="/create-tax" method="POST">
      <span>Consumo geral</span>
      <div class="field-group">
        <div class="field">
          <input
            type="text"
            name="taxa"
            placeholder="Taxa de energia do seu Estado em R$"
            required="required"
            value="13,06"
          />
        </div>
      </div>

      <div class="field-group">
        <div class="field">
          <input
            type="text"
            name="custo"
            placeholder="Custo fixo por dia"
            required="required"
          />
        </div>
      </div>

      <div class="field-group">
        <div class="field">
          <a href="#" class="arrow-left" id="arrow-left">
            <i
              class="fa fa-arrow-circle-left fa-3x"
              style="color: #9f9c9c;"
            ></i>
          </a>
          <label class="qtddias" for="qtddias">30</label>
          <a href="#" class="arrow-right" id="arrow-right">
            <i
              class="fa fa-arrow-circle-right fa-3x"
              style="color: #9f9c9c;"
            ></i>
          </a>
        </div>
      </div>

      <div class="field-group">
        <div class="field">
          <button type="submit">Calcular</button>
        </div>
      </div>
      <!-- ############################################################## -->
      <span>Consumo específico</span>
      <div class="field-group">
        <div class="field">
          <input
            type="text"
            name="taxa"
            placeholder="Taxa de energia do seu Estado em R$"
            required="required"
          />
        </div>
      </div>

      <div class="field-group">
        <div class="field">
          <input
            type="text"
            name="custo"
            placeholder="Custo fixo por dia"
            required="required"
          />
        </div>
      </div>

      <div class="field-group">
        <div class="field">
          <a href="#" class="arrow-left" id="arrow-left">
            <i
              class="fa fa-arrow-circle-left fa-3x"
              style="color: #9f9c9c;"
            ></i>
          </a>
          <label class="qtddias" for="qtddias">30</label>
          <a href="#" class="arrow-right" id="arrow-right">
            <i
              class="fa fa-arrow-circle-right fa-3x"
              style="color: #9f9c9c;"
            ></i>
          </a>
        </div>
      </div>

      <div class="field-group">
        <div class="field">
          <button type="submit">Calcular</button>
        </div>
      </div>
    </form>

    <div class="field-group2">
      <div class="fieldrodape">
        <div class="rodape">
          <a href="/consumo" class="consumo" id="consumo">
            <div id="consumo"></div>
          </a>
        </div>
        <div class="rodape">
          <a href="/smart" class="smart" id="smart">
            <div id="smart"></div>
          </a>
        </div>
        <div class="rodape">
          <a href="/robeco" class="robeco" id="robeco">
            <div id="robeco"></div>
          </a>
        </div>
        <div class="rodape">
          <a href="/configuracao" class="configuracao" id="configuracao">
            <div id="configuracao"></div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
<script src="/scripts/calculadora.js"></script>
