<html>
  <head>
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <link rel="stylesheet" href="/styles/consumo.css" />
  </head>
  <body>
    <h2>CONSUMO</h2>

    <div class="fieldspace"></div>

    <div class="field-group2">
      <div class="field2">
        <p class="economia">Você já economizou</p>
      </div>
      <div class="field2">
        <div id="mensagem"></div>
      </div>
    </div>

    <div class="field-group2">
      <div class="field2">Média diária</div>
      <div class="field2">Consumo mensal</div>
    </div>

    <div class="field-group2">
      <div class="field2">
        <div class="field3">
          <div class="field4">R$ 8,28</div>
          <div class="field5">60 kwh</div>
        </div>
      </div>
      <div class="field2">
        <div class="field3">
          <div class="field4">R$ 43,28</div>
          <div class="field5">180 kwh</div>
        </div>
      </div>
    </div>

    <div class="field-group-grafico">
      <div class="fieldgrafico">
        <div id="graficoPizza"></div>
      </div>
    </div>

    <div class="field-group2">
      <div class="field">
        <div class="rodape">
          <a href="/browser/smart" class="hfsmart" id="hfsmart">
            <div id="smart"></div>
          </a>
        </div>
        <div class="rodape">
          <a href="/browser/dispositivo" class="dispositivo" id="dispositivo">
            <div id="dispositivo"></div>
          </a>
        </div>
        <div class="rodape">
          <a href="/browser/calculadora" class="calculadora" id="calculadora">
            <div id="calculadora"></div>
          </a>
        </div>
        <div class="rodape">
          <a
            href="/browser/configuracao"
            class="configuracao"
            id="configuracao"
          >
            <div id="configuracao"></div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>

<script src="/scripts/consumo.js"></script>

<script>
  window.watsonAssistantChatOptions = {
    integrationID: "3e2c3c73-d944-45bb-98c0-6595cf5cff78", // The ID of this integration.
    region: "us-south", // The region your integration is hosted in.
    serviceInstanceID: "151cff9d-f714-49fe-8b37-9345a2518b09", // The ID of your service instance.
    onLoad: function (instance) {
      instance.render();
    },
  };
  setTimeout(function () {
    const t = document.createElement("script");
    t.src =
      "https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
    document.head.appendChild(t);
  });
</script>
