<html>
  <head>
    <link rel="stylesheet" href="/styles/dispositivo.css" />
    <link rel="stylesheet" href="/styles/rodape.css" />
  </head>
  <body>
    <h2>DISPOTIVOS</h2>

    <div class="fieldspace"></div>

    <div class="field-group">
      <div class="field">
        <div id="dispositos1"></div>
        <div id="dispositos2"></div>
        <div id="dispositos3"></div>
        <div id="dispositos4"></div>
        <div id="dispositos5"></div>
        <div id="dispositos6"></div>
      </div>
    </div>

    
    <div class="footer">
       <div class="navegacao">
        <div class="rodape">
          <a href="/browser/consumo" class="consumo" id="consumo">
            <div id="consumo"></div>
          </a>
        </div>

        <div class="rodape">
          <a href="/browser/smart" class="smart" id="smart">
            <div id="smart"></div>
          </a>
        </div>        

        <div class="rodape">
          <a href="/browser/calculadora" class="calculadora" id="calculadora">
            <div id="calculadora"></div>
          </a>
        </div>

        <div class="rodape">
          <a href="/browser/configuracao" class="configuracao" id="configuracao">
            <div id="configuracao"></div>
          </a>
        </div>
      </div> 
    </div>
    </form>

  </body>
</html>

<script src="/scripts/dispositivo.js"></script>
<script src="/scripts/robeco.js"></script>

