<html>
  <head>
    <link rel="stylesheet" href="/styles/dispositivo.css" />
  </head>
  <body>
    <h2>DISPOTIVOS</h2>

    <div class="fieldspace"></div>

    <div class="divc1">
      <section class="grid grid-columns-1">
        <div id="dispositos1"></div>
        <div id="dispositos2"></div>
        <div id="dispositos3"></div>
        <div id="dispositos4"></div>
        <div id="dispositos5"></div>
        <div id="dispositos6"></div>
      </section>
    </div>
    
    <div class="field-group2">
      <div class="field">
        <div class="rodape">
          <a href="/browser/consumo" class="consumo" id="consumo">
            <div id="consumo"></div>
          </a>
        </div>
        <div class="rodape">
          <a href="/browser/smart" class="smart" id="smart">
            <div id="smart"></div>
          </a>
        </div>        
        <div class="rodape">
          <a href="/browser/calculadora" class="calculadora" id="calculadora">
            <div id="calculadora"></div>
          </a>
        </div>
        </div>
        <div class="rodape">
          <a href="/browser/configuracao" class="configuracao" id="configuracao">
            <div id="configuracao"></div>
          </a>
        </div>
      </div>
    </div>
    </form>
  </body>
</html>

<script src="/scripts/dispositivo.js"></script>

<script>
  window.watsonAssistantChatOptions = {
    integrationID: "3e2c3c73-d944-45bb-98c0-6595cf5cff78", // The ID of this integration.
    region: "us-south", // The region your integration is hosted in.
    serviceInstanceID: "151cff9d-f714-49fe-8b37-9345a2518b09", // The ID of your service instance.
    onLoad: function (instance) {
      instance.render();
    },
  };
  setTimeout(function () {
    const t = document.createElement("script");
    t.src =
      "https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
    document.head.appendChild(t);
  });
</script>
