<html>
  <head>
    <link rel="stylesheet" href="/styles/smart.css" />
        <link rel="stylesheet" href="/styles/rodape.css" />

  </head>
  <body>
    <h2>SMART</h2>

    <div class="fieldspace"></div>

    <div class="divc">
      <section class="grid grid-columns-1">
        <div class="item">Cozinha</div>
        <div class="item2">Sala</div>
        <div class="item">Quarto</div>
        <div class="item">Casal</div>
        <div class="item">Escritório</div>
      </section>
    </div>

    <div class="fieldspace"></div>

    <div class="divc1">
      <section class="grid grid-columns-2">
        <div id="dispositos1"></div>
        <div id="dispositos2"></div>
        <div id="dispositos3"></div>
        <div id="dispositos4"></div>
        <div id="dispositos5"></div>
        <a href="/cadastrodispositivo" class="cadastrodispositivo" id="cadastrodispositivo">
          <div id="dispositos6"></div>
        </a>
      </section>
    </div>

    <div class="field-group2">
      <div class="field">
        <div class="rodape">
          <a href="/browser/consumo" class="consumo" id="consumo">
            <div id="consumo"></div>
          </a>
        </div>
        <div class="rodape">
          <a href="/browser/dispositivo" class="dispositivo" id="dispositivo">
            <div id="dispositivo"></div>
          </a>
        </div>        
        <div class="rodape">
          <a href="/browser/calculadora" class="calculadora" id="calculadora">
            <div id="calculadora"></div>
          </a>
        </div>
        <div class="rodape">
          <a href="/browser/configuracao" class="configuracao" id="configuracao">
            <div id="configuracao"></div>
          </a>
        </div>
      </div>
    </div>
    </form>
  </body>
</html>

<script src="/scripts/robeco.js"></script>
