* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

span {
  display: flex;
  font-weight: bold;
  width: 450px;
  margin: 0 auto;
}

.field-group {
  margin: 0 auto;
}

.field-group2 {
  display: flex;
  align-content: center;
  align-items: center;
  width: 500px;
  margin: 0 auto;
}

.fieldrodape {
  display: flex;
  align-items: center;
  width: 330px;
  height: 200px;
  text-align: center;
}

.rodape {
  height: 45px;
  width: 35%;
}

#logo {
  margin-top: 42px;
  height: 20vh;
  background: url("/assets/logo.svg") no-repeat;
  background-position: top center;
}
#logowelcome {
  margin-top: 42px;
  height: 20vh;
  background: url("/assets/wellcome.svg") no-repeat;
  background-position: top center;
}
#mensagem {
  margin-top: 42px;
  height: 20vh;
  background: url("/assets/mensagem.svg") no-repeat;
  background-position: top center;
}
h2 {
  margin-top: 40px;
  text-align: center;
  font-size: 45px;
}

form {
  background-color: white;
  margin: 20px auto;
}

form .field {
  flex: 1;

  display: flex;
  justify-content: center;

  margin-bottom: 24px;
}

.time30 {
  flex: 1;

  display: flex;
  justify-content: center;
  color: #09485f;

  margin-bottom: 14px;
  font-size: small;
}

.economia {
  flex: 1;

  display: flex;
  justify-content: space-between;
  background-color: red;
  color: #09485f;

  margin-bottom: 14px;
  font-size: small;
}

form input {
  background-color: #f0f0f5;
  border: 0;
  padding: 16px 24px;
  font-size: 14px;
  width: 450px;

  border-radius: 8px;
}

form label {
  background-color: #f0f0f5;

  text-align: center;
  border: 0;
  padding: 16px 24px;
  font-size: 14px;
  width: 180px;

  border-radius: 8px;
}

input:focus {
  background-color: yellow;
}

form button {
  width: 260px;
  height: 36px;

  background-color: #09485f;
  border-radius: 20.52px;

  color: white;
  font-weight: bold;
  font-size: 14px;

  border: 0;

  margin-top: 10px;

  transition: background-color 400ms;
}

form button.a {
  width: 260px;
  height: 56px;

  background-color: #eceff0;
  border-radius: 20.52px;

  color: black;
  font-weight: bold;
  font-size: 16px;

  border: 0;

  margin-top: 10px;

  transition: background-color 400ms;
}

form button:hover {
  background-color: #ffeaca;
}

.divc1 {
  margin: 0 42%;
}

.grid {
  display: grid;
}
.grid-columns-2 {
  grid-template-columns: 50px 10px;
  /* grid-template-rows: 135px 135px; */

  text-align: center;
}
