* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

#logo {
  margin-top: 42px;
  height: 20vh;
  background: url("/assets/logo.svg") no-repeat;
  background-position: top center;
}
#logowelcome {
  margin-top: 42px;
  height: 20vh;
  background: url("/assets/wellcome.svg") no-repeat;
  background-position: top center;
}
h2 {
  margin-top: 40px;
  text-align: center;
  font-size: 45px;
}

form {
  background-color: white;
  margin: 20px auto;
}

form .field {
  flex: 1;

  display: flex;
  justify-content: center;

  margin-bottom: 24px;
}

.fieldspace {
  height: 50px;
}

.time30 {
  flex: 1;

  display: flex;
  justify-content: center;
  color: #09485f;

  margin-bottom: 14px;
  font-size: small;
}

form button {
  width: 260px;
  height: 56px;

  background-color: #09485f;
  border-radius: 20.52px;

  color: white;
  font-weight: bold;
  font-size: 16px;

  border: 0;

  margin-top: 10px;

  transition: background-color 400ms;
}

form button:hover {
  /* background-color: #a7dc10; */
  background-color: #ffeaca;
}
