* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  background-color: white;
  margin: 20px auto;
}

#mensagem {
  width: 200px;
  height: 150px;

  background: url("/assets/mensagem.svg") no-repeat;
}

h2 {
  margin-top: 40px;
  text-align: center;
  font-size: 45px;
}

.fieldspace {
  height: 15px;
}

.field-group {
  align-content: center;
  align-items: center;
  display: flex;
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

.field {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#dispositos1 {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 65px;

  background: url("/assets/dispositivo1.svg") no-repeat;
}

#dispositos2 {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 65px;

  background: url("/assets/dispositivo2.svg") no-repeat;
}

#dispositos3 {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 65px;

  background: url("/assets/dispositivo3.svg") no-repeat;
}

#dispositos4 {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 65px;

  background: url("/assets/dispositivo4.svg") no-repeat;
}

#dispositos5 {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 65px;

  background: url("/assets/dispositivo5.svg") no-repeat;
}

#dispositos6 {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 65px;

  background: url("/assets/dispositivo6.svg") no-repeat;
}
