* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  background-color: white;
  margin: 20px auto;
}

#mensagem {
  width: 200px;
  height: 150px;

  background: url("/assets/mensagem.svg") no-repeat;
}

h2 {
  margin-top: 40px;
  text-align: center;
  font-size: 45px;
}

.fieldspace {
  height: 30px;
}

.field-group {
  align-content: center;
  align-items: center;
  width: 600px;
  height: 150px;
  margin: 0 auto;
}

.field {
  display: flex;
  align-items: center;
  width: 330px;
  height: 200px;
  text-align: center;
}

.field-group2 {
  display: flex;
  align-content: center;
  align-items: center;
  width: 400px;
  margin: 0 auto;
}

.field2 {
  display: flex;
  text-align: center;
  width: 300px;

  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.field3 {
  background-color: #eceff0;
  line-height: 35px;
  border-radius: 20.52px;
  height: 65px;
  width: 150px;
}

.field4 {
  color: #09485f;
}

.field5 {
  color: #9f9c9c;
}

.rodape {
  height: 45px;
  width: 35%;
}

.economia {
  align-items: center;
  text-align: center;
  width: 250px;
  height: 150px;
  line-height: 145px;
}

.grid {
  display: grid;
}

.grid-columns-1 {
  grid-template-columns: 120px 120px 120px 120px 120px;
  text-align: center;
}

.grid-columns-2 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.divc {
  align-content: center;
  align-items: center;
  width: 600px;
  height: 50px;
  margin: 0 auto;
}

.divc1 {
  align-content: center;
  align-items: center;
  width: 400px;
  height: 450px;
  margin: 0 auto;
}

.item2 {
  background-color: #09485f;
  border-radius: 20.52px;
}

.item:hover {
  cursor: pointer;
}

.item2:hover {
  cursor: pointer;
  background-color: #09485f;
  border-radius: 20.52px;
}

#dispositivo {
  width: 200px;
  height: 150px;

  background: url("/assets/dispositivos.svg") no-repeat;
}

#dispositivo:hover {
  width: 200px;
  height: 150px;

  background: url("/assets/dispositivos1.svg") no-repeat;
}

#dispositos1 {
  margin-left: auto;
  margin-right: auto;
  width: 143px;
  height: 150px;

  background: url("/assets/dispositivosmart1.svg") no-repeat;
}

#dispositos2 {
  margin-left: auto;
  margin-right: auto;
  width: 143px;
  height: 150px;

  background: url("/assets/dispositivosmart2.svg") no-repeat;
}

#dispositos3 {
  margin-left: auto;
  margin-right: auto;
  width: 143px;
  height: 150px;

  background: url("/assets/dispositivosmart3.svg") no-repeat;
}

#dispositos4 {
  margin-left: auto;
  margin-right: auto;
  width: 143px;
  height: 150px;

  background: url("/assets/dispositivosmart4.svg") no-repeat;
}

#dispositos5 {
  margin-left: auto;
  margin-right: auto;
  width: 143px;
  height: 150px;

  background: url("/assets/dispositivosmart5.svg") no-repeat;
}

#dispositos6 {
  margin-left: auto;
  margin-right: auto;
  width: 143px;
  height: 150px;

  background: url("/assets/dispositivosmart6.svg") no-repeat;
}
